html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.bakerloo {
  background-color: #894e24;
}
.central {
  background-color: #dc241f;
}
.circle {
  background-color: #e6b900;
}
.district {
  background-color: #007229;
}
.hammersmith-city {
  background-color: #d799af;
}
.jubilee {
  background-color: #6a7278;
}
.metropolitan {
  background-color: #751056;
}
.northern {
  background-color: #000000;
}
.piccadilly {
  background-color: #0019a8;
}
.victoria {
  background-color: #0098d4;
}
.waterloo-city {
  background-color: #95cdba;
}
